body {
    align-content: center;
    text-align: center;
    background-image: url(../img/fondouno.jpg);
    /*background-position: center center;*/
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Amatic SC', cursive;
    font-size: larger;
}

div#campos {
    background-color: #FB5B5A;
    margin: 10% 10% 10% 10%;
}

div#campos h2:first-child {
    color: black;
    font-family: 'Zilla Slab Highlight', cursive;
    margin: 10% 10% 0% 10%;
}

div#campos h1 {
    font-family: 'Ruslan Display', cursive;
}

div#campos button {
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: larger;
    margin: 1% 10% 10% 10%;
    padding: 2% 2% 2% 2%;
    border-top-left-radius: 30px;
    background-color: #6E6E80;
}