<!DOCTYPE html>
<html lang="spa">

<head>
    <title>Iniciar Sesión</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../statics/css/ingreso.css">
    <link href="https://fonts.googleapis.com/css2?family=Rokkitt:wght@200&family=Ruslan+Display&family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">
</head>

<body>
    <div id="data">
        <form action="../dynamics/php/inicioSesion.php" method="POST">
            <h1>Inicio Sesion</h1>
            <label>Número de cuenta o RFC o correo electrónico</label>
            <br>
            <input type="text" name="id_usuario">
            <br><label>Contraseña</label><br>
            <input type="password" name="contra"><br>
            <input type="submit" id="envio">
            <a href="./registro.html">Registrarse</a>
        </form>
    </div>
</body>

</html>
