<!DOCTYPE html>
<html lang="spa">

<head>
    <title>Mi perfil</title>
    <meta charset="utf-8">
</head>

<body>
    <div id="informacion">
        <div id="nombre">
            <p>Mi nombre completo</p>
        </div>

        <div id="fotoPerfil">
            <p>Foto de perfil</p>
        </div>

        <div id="fnacimiento">
            <p>Fecha nacimiento</p>
        </div>

        <div id="correo">
            <p>Correo Electronico</p>
        </div>

        <div id="estadisticas">
            <p>Estadísticas de uso</p>
            <div id="nombre">
                <p>Número de encuestas elaboradas:</p>
                <p>Número de encuestas contestadas:</p>
            </div>
        </div>
    </div>

    <div id="botones">
        <button id="nuevafoto">Nueva foto de perfil</button>
        <button id="encuestaNueva">Crear nueva encuesta</button>
        <button id="Responder">Responder encuesta</button>
        <button id="Editar">Editar encuesta</button>
        <button id="cerrar">Cerrar sesión</button>
    </div>
    <script src="../Libs/jquery-3.5.1.min.js "></script>
    <script type="text/javascript" src="../dynamics/js/miperfil.js"></script>
</body>

</html>